<h2 class="page-header">Map</h2>
<div class="row">
    <div class="col-sm-7">
        <div class="map">
            <form method="post" action="/users/map">
                <ul class="map-markers">
                    <li class="map-marker map-marker-it">
                        <i class="material-icons" id="location">place</i>
                        <div class="map-marker-info">
                            <div class="map-marker-info-inner animate-bounce-in">
                                <header>
                                    <button name="send" value="it"><h4>Faculty of Information Technology</h4></button>
                                </header>
                            </div>
                        </div>
                    </li>
                    <li class="map-marker map-marker-rama4-monument">
                        <i class="material-icons" id="location">place</i>
                        <div class="map-marker-info">
                            <div class="map-marker-info-inner animate-bounce-in">
                                <header>
                                    <button name="send" value="rama4-monument"><h4>Rama IV Monument</h4></button>
                                </header>
                            </div>
                        </div>
                    </li>
                    <li class="map-marker map-marker-prathep-building">
                        <i class="material-icons"i id="location">place</i>
                        <div class="map-marker-info">
                            <div class="map-marker-info-inner animate-bounce-in">
                                <header>
                                    <button name="send" value="prathep-building"><h4>Prathep Building</h4></button>
                                </header>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
    
            <!-- DRAW MAP -->
            <svg x="0px" y="0px" viewBox="0 0 2200 1500" style="enable-background:new 0 0 2200 1500;" xml:space="preserve">
                <style type="text/css">
                .st0{display:none;}
                .st1{fill:none;stroke:#2C3E50;stroke-width:50;stroke-miterlimit:10;}
                .st2{fill:none;stroke:#2C3E50;stroke-width:20;stroke-miterlimit:10;}
                </style>
                <g id="Layer_1" class="st0">
                    <image style="display:inline;overflow:visible;" width="581" height="408" transform="matrix(3.6765 0 0 3.6765 0 0)">
                    </image>
                </g>
                <g id="Layer_2">
                    <polyline class="st1" points="2136,355.8 1437.9,352.8 1230.8,619.8 1230.8,1393.9  "></polyline>
                    <line class="st2" x1="159.7" y1="814.8" x2="1230.8" y2="814.8"></line>
                    <line class="st2" x1="351.7" y1="814.8" x2="351.7" y2="949.8"></line>
                    <line class="st2" x1="486.8" y1="814.8" x2="486.8" y2="949.8"></line>
                    <line class="st2" x1="651.8" y1="862.8" x2="651.8" y2="1393.9"></line>
                    <line class="st2" x1="651.8" y1="1306.9" x2="552.8" y2="1306.9"></line>
                    <line class="st2" x1="168.7" y1="1128.4" x2="651.8" y2="1128.4"></line>
                    <line class="st2" x1="450.8" y1="1128.4" x2="450.8" y2="1171.9"></line>
                    <line class="st2" x1="651.8" y1="1078.9" x2="1230.8" y2="1078.9"></line>
                    <line class="st2" x1="165.3" y1="1171.9" x2="75.7" y2="1171.9"></line>
                    <line class="st2" x1="164.2" y1="1104.4" x2="120.5" y2="1104.4"></line>
                    <line class="st2" x1="159.7" y1="1042.8" x2="120.5" y2="1042.8"></line>
                    <line class="st2" x1="159.7" y1="991.8" x2="21.7" y2="991.8"></line>
                    <line class="st2" x1="39.7" y1="1270.9" x2="142.4" y2="1270.9"></line>
                    <line class="st2" x1="1245.8" y1="931.8" x2="1587.9" y2="931.8"></line>
                    <line class="st2" x1="1587.9" y1="1393.9" x2="1587.9" y2="769.8"></line>
                    <line class="st2" x1="1416.9" y1="931.8" x2="1416.9" y2="769.8"></line>
                    <line class="st2" x1="1587.9" y1="931.8" x2="1737.9" y2="931.8"></line>
                    <line class="st2" x1="2052.9" y1="1042.8" x2="1908.9" y2="1042.8"></line>
                    <line class="st2" x1="2052.9" y1="1104.4" x2="2001.9" y2="1104.4"></line>
                    <line class="st2" x1="2052.9" y1="1234.9" x2="1587.9" y2="1234.9"></line>
                    <line class="st2" x1="1896.9" y1="1234.9" x2="1896.9" y2="1104.4"></line>
                    <line class="st2" x1="1527.9" y1="353.2" x2="1527.9" y2="202.8"></line>
                    <line class="st2" x1="1884.9" y1="352.8" x2="1884.9" y2="202.8"></line>
                    <line class="st2" x1="39.7" y1="685.8" x2="2136" y2="685.8"></line>
                    <line class="st2" x1="717.8" y1="76.8" x2="717.8" y2="685.8"></line>
                    <polyline class="st2" points="717.8,415.8 429.8,415.8 429.8,685.8   "></polyline>
                    <line class="st2" x1="717.8" y1="526.8" x2="1230.8" y2="526.8"></line>
                    <line class="st2" x1="882.8" y1="526.8" x2="882.8" y2="685.8"></line>
                    <line class="st2" x1="810.8" y1="526.8" x2="810.8" y2="415.8"></line>
                    <polyline class="st2" points="846.8,202.8 846.8,313.8 717.8,313.8   "></polyline>
                    <polyline class="st2" points="1230.8,415.8 1161.8,415.8 1161.8,526.8  "></polyline>
                    <line class="st2" x1="1629.9" y1="352.8" x2="1629.9" y2="685.8"></line>
                    <line class="st2" x1="1791.9" y1="352.8" x2="1791.9" y2="685.8"></line>
                    <line class="st2" x1="1980.9" y1="355.1" x2="1980.9" y2="685.8"></line>
                    <polyline class="st2" points="1980.9,457.8 1869.9,457.8 1869.9,352.8  "></polyline>
                    <polyline class="st2" points="165.3,589.8 165.3,685.8 165.3,589.8 46,503 46,313.8 168.7,220.8 168.7,172.8 1230.8,172.8 1230.8,619.8  "></polyline>
                    <line class="st1" x1="18.3" y1="76.8" x2="2157.5" y2="76.8"></line>
                    <line class="st1" x1="18.3" y1="13.7" x2="2157.5" y2="13.7"></line>
                    <line class="st1" x1="1587.9" y1="1393.9" x2="1587.9" y2="1500"></line>
                    <line class="st1" x1="1230.8" y1="1393.9" x2="1587.9" y2="1393.9"></line>
                    <polyline class="st2" points="1587.9,1393.9 2052.9,1393.9 2052.9,949.8 1878.9,775.8 1230.8,775.8  "></polyline>
                    <polyline class="st2" points="142.4,1234.9 142.4,1306.9 39.7,1306.9 39.7,1234.9 164.2,1234.9  "></polyline>
                    <polyline class="st2" points="1230.8,1393.9 159.7,1393.9 159.7,949.8 1026.8,949.8 1026.8,1393.9   "></polyline>
                    <line class="st2" x1="1497" y1="353" x2="1497" y2="621"></line>
                    <polyline class="st2" points="1330.1,491.8 1371,533 1497,533  "></polyline>
                </g>
            </svg>
        </div>
        <br><br><br>
        <div>
            <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง เป็นมหาวิทยาลัยในกำกับของรัฐ ตามพระราชบัญญัติสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง พ.ศ. 2551 โดยมีวัตถุประสงค์ เพื่อให้การศึกษา การค้นคว้าวิจัย และการพัฒนาด้านวิทยาศาสตร์ และ เทคโนโลยีเพื่อความก้าวหน้า ทางอุตสาหกรรม และ เศรษฐกิจของประเทศเดิมที สถาบันเทคโนโลยีพระจอมเกล้า ตั้งขึ้นตามพระราชบัญญัติ สถาบันเทคโนโลยีพระจอมเกล้า พ.ศ. 2514 ด้วยการรวม วิทยาลัยโทรคมนาคมนนทบุรี วิทยาลัยเทคนิคพระนครเหนือ และวิทยาลัยเทคนิคธนบุรี เข้าด้วยกัน โดยแต่ละแห่งมีฐานะเป็นวิทยาเขต วิทยาลัยโทรคมนาคมนนทบุรี เป็นสถาบันเทคโนโลยีพระจอมเกล้าวิทยาเขตนนทบุรี และในปีเดียวกันนั้นได้ย้ายไปที่ อำเภอลาดกระบัง เป็นวิทยาเขตเจ้าคุณทหารลาดกระบัง</p>

            <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง ประกอบด้วยพระนาม "พระจอมเกล้า" ซึ่งได้รับพระมหากรุณาธิคุณโปรดเกล้าโปรดกระหม่อมพระราชทานตามพระบรมนามาภิไธย แห่งพระบาทสมเด็จพระจอมเกล้าเจ้าอยู่หัว และมีพระบรมราชานุญาต ให้อัญเชิญตรา "พระมหามงกุฎ" มาเป็นสัญลักษณ์แห่งสถาบันฯ ด้วย นับเป็นสิ่งอันศักดิ์สิทธิ์ และเป็นมหามงคลยิ่งส่วนคำว่า "เจ้าคุณทหาร" นั้น มีไว้เพื่อเป็นอนุสรณ์แด่ท่านเจ้าพระยาสุรวงศ์ไวยวัฒน์ (วร บุนนาค) หรือที่เรียกกันทั่วไปว่า "เจ้าคุณทหาร" ตามที่ ท่านเลี่ยม พรตพิทยพยัต ทายาทของท่านได้แจ้งความประสงค์ไว้ในการบริจาคที่ดิน อันเป็นที่ตั้งของสถาบันฯ ในปัจจุบัน</p>
        </div>
    </div>

    <div class="col-sm-5">
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
    </div>
</div>

<h2>Message</h2>
<!-- <div ng-app="push" ng-controller="pushController"> -->
    <form method="post" action="/users/map">
        <button class="btn btn-default" name="send" value="THIS_IS_A_MESSAGE">Send</button>
    </form>
<!-- </div> -->



<!-- Script Zone -->
<link rel="stylesheet" href="/css/map.css" />

