<div ng-app="overviewPage" ng-controller="overviewCtrl">
    <!-- Pass URL from Route to Angular -->
    <input type="radio" name="tripUrl" value="{{tripUrl}}" ng-hide="true">

    <h2 class="page-header">[[name]]</h2>
    <div class="col-sm-12" style="text-align: center;">
        <img class="card-img-top" src="/img/[[imgThumbnail]]" style="width: 90%;">
        <p style="padding: 4em 8em 4em;">[[overview]]</p>
        <a ng-href="/users/trip/[[nameUrl]]" class="btn btn-primary">Go Explore</a>
    </div>
    

</div>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>


<script>
    var app = angular.module('overviewPage', []);

    app.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
        
    });

    app.controller("overviewCtrl", function($scope,$http){

        var tripUrl = $('input[name=tripUrl]').val();

        // GET DATA OF THIS TRIP
        $http.get('/users/data/trip/' + tripUrl).then(function(response){
            $scope.name = response.data[0].name;
            $scope.nameUrl = response.data[0].nameUrl;
            $scope.imgThumbnail = response.data[0].imgThumbnail;
            $scope.overview = response.data[0].overview;
            $scope.place = response.data[0].place;
        });
    });
</script>