<h2 class="page-header">Place</h2>

<div ng-app="display" ng-controller="displayCtrl">
	<div class="row">
	  	<div class="col-sm-4" ng-repeat="index in place">
	    	<div class="card">
	    		<img class="card-img-top" ng-src="/img/[[index.imgThumbnail]]" style="height: 15em;">
	      		<div class="card-block">
	        		<h3 class="card-title">[[index.name]]</h3>
	        		<a ng-href="/users/place/[[index.nameUrl]]" class="btn btn-primary btn-block">Go Explore</a>
	      		</div>
	    	</div><br>
	  	</div>
	</div>

</div>





<script>
	var app = angular.module("display", []); 

	app.config(function($interpolateProvider) {
    	$interpolateProvider.startSymbol('[[');
    	$interpolateProvider.endSymbol(']]');
  	});

	app.controller("displayCtrl", function($scope, $http) {
   		
		$scope.index = 0;
		$http.get('/users/data/place').then(function(response){
			var length = response.data.length;
			$scope.place = response.data;
		});
		
	});
</script>