<div ng-app="scorePage" ng-controller="scoreCtrl">
	<h2 class="page-header">Score</h2>

    <div style="padding: 1em;">
        <label>Trip</label>
        <select class="form-control" ng-model="tripReport">
            <option ng-repeat="trip in trips" value="[[trip.nameUrl]]">[[trip.name]]</option>
        </select><br>
    </div>

	<div style="margin:1em; padding: 1em; background: rgba(255,255,255,.9); border-radius: 5px;">
		<table class="table">
		  	<thead>
		    	<tr>
                    <th>User</th>
		      		<th>Trip</th>
		      		<th>Score</th>
		      		<th>Date</th>
                    <th>Answers</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		    	<tr ng-repeat="report in reports | filter:tripReport | orderBy:'-date'">
                    <td>[[report.user]]</td>
		    		<td>[[report.trip]]</td>
		    		<td>[[report.score]]</td>
		    		<td>[[report.date | date:'dd/MM/yyyy - HH:mm:ss']]</td>
                    <td>
                        <div ng-repeat="answer in report.answers">
                            <b>Question Type :</b> [[answer.type]] || <b>Answer :</b> [[answer.answer]]
                        </div>
                    </td>
		    	</tr>
		  	</tbody>
		</table>
	</div>



</div>

<script>
    var app = angular.module('scorePage', []);

    app.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    });

    app.controller("scoreCtrl",function($scope,$http,$location){
        
        $scope.reports = [];

    	// GET DATA OF REPORT OF THIS USER
        $http.get('/users/data/report/').then(function(response){
        	$scope.reports = response.data;
        });

        $http.get('/users/data/trip/').then(function(response){
            $scope.trips = response.data;
        });



    });
</script>